.bg{
    background-image: url('../images/background_image_hogwarts3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x:hidden;
}
input {
    padding: 8px;
    height: 36px;
    width: 260px;
    margin-top: 20px;
    font-size: 18px;
}
button {
    height: 30px;
    width: 160px;
    margin-top: 40px;
    margin-bottom: 7px;
    background-color: 0088ce;
    color: #ffffff;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 1px;
    border: 1px solid transparent;
}
button:hover{
    background-color: #057dbb;
    background-image: none;
    border-color: #00659c;
    color: #fff;
}

.block{
    padding-top: 16px;
    margin-top: 80px;
    height: 340px;
    width: 320px;
    background: #ffffff;
    margin-left: 40%;
}
.register .login{
    margin-top: 7px;
}
.carousel-indicators li{
    background-color: #325236;
}
.tabContent {
    display:none;
}

#g-btn{
    height:20px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}}