<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div style ="align-content: center;">
<div style =
 "margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background : white">
    <head>
    <meta charset="UTF-8">
    <title>CAMs--Circulars</title>
   <h2 class="page-title text-center">Updates on the reopening dates (Updated 17-04-2020)</h2>
</head>
<body>
<div class="field-item even" property="content:encoded">
    <p class="rtejustify">
    <span style="font-family:inherit; font-size:14px">
        <span style="font-family:trebuchet ms,helvetica,sans-serif; font-size:inherit">
            The reopening dates for CAMS School of Engineering,
            Coimbatore is rescheduled to the month of June 2020. Exact
            dates of reopening and revised examination schedule will be updated
            soon in this page. Please watch this page
            frequently for further updates.</span>
    </span>
</p>
<p>
    <span style="font-family:inherit; font-size:14px">
        <span style="font-family:trebuchet ms,helvetica,sans-serif; font-size:inherit">
            <strong>Dean Engineering.<br>
            17-04-2020</strong>
        </span></span></p>
</div>
</body>
      </div><br/>
     <div class="text-center">
         <a href="{{url_for('home')}}">
             <button class="btn btn-info " type="submit">
        Go Back to Home</button>
         </a>
     </div>
</div>
</html>
