<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>CAMs--Home</title>
</head>
<body>
<nav>
    <p class="has-text-centered" >Navbar here</p>
</nav>
<div class="has-text-left "><h2 class="is-size-2" style="color:white;">Welcome {{u}} :)</h2>
</div>
<div class="tabs is-toggle is-fullwidth">
  <ul class="nav nav-tabs">
    <li class="is-active">
      <a data-toggle="tab" href="#Addcollege">
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span name="tab">Add College</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#RegStud">
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span name="tab">Register Student</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#view">
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span name="tab">View Final List</span>
      </a>
    </li>
    <li>
        <a data-toggle="tab" href="#cutoff">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span name="tab">CutOff Details</span>
      </a>
    </li>
  </ul>
<div class="tab-content">
  <div id="Addcollege" class="tab-pane fade in active">
    <h3>Kindly, fill in the details</h3>
    <form action="action_page.php">
  <div class="container">

    <p>Please fill in this form to add details of the College.</p>
    <hr>

    <b>Add Course</b>
      <select id="course" name="course">
      <option selected="selected">--Choose one from below--</option>
      <option value="chem">Chemical Engineering</option>
      <option value="civil">Civil Engineering</option>
      <option value="cse">Computer Science and Engineering</option>
      <option value="eee">Electrical and Electronic Engineering</option>
      <option value="ece">Electronics and Communications Engineering</option>
    </select>
<br />
    <b>Add Fee Structure for the Course</b>
    <input type="text" placeholder="Enter the fee" name="fee" required>
<br />
    <b>Add Seats available</b>
    <input type="text" placeholder="Enter the seats available" name="seats" required>
    <hr>
<br />
    <p>By creating additions to the details, changes will be visible to the student's portal.</p>
      <br />
    <button type="submit">Add Details</button>
  </div>
</form>

  </div>
  <div id="RegStud" class="tab-pane fade">
    <h3>Register Student</h3>
    <p>Some content reg</p>
  </div>
  <div id="view" class="tab-pane fade">
    <h3>View Final List</h3>
    <p>Some content in menu 2.</p>
  </div>
     <div class="tab-pane fade" id="cutoff">
    <h3>CutOff Details</h3>
    <p>Some content in menu 3.</p>
  </div>
</div>

</div>
</div>

</div>
</body>
</html>
<script>
$(function() {
      $( 'ul.nav li' ).on( 'click', function() {
            $( this ).parent().find( 'li.is-active' ).removeClass( 'is-active' );
            $( this ).addClass( 'is-active' );
      });
});
</script>
