<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CAMs--Register</title>
</head>
<body class="bg">
<nav>
    <p class="has-text-centered">Navbar here</p>
</nav>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="color:white";>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="has-text-centered block">
<form action="http://127.0.0.1:5000/register" method="POST">
    <h2 class="is-size-2">SIGN UP</h2>
    <input type="email" placeholder="Email Id" name="uname" required>
    <input type="password" placeholder="Password" name="pass" required>
    <br />
    <b>{{msg}}</b>
    <br />
    <button type="submit" name="register">REGISTER</button>
        <p>Go back to login page <a href="{{url_for('home')}}">Log in</a></p>
</form>
</div>
</body>
</html>
