<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CAMs--Register</title>
</head>
<body>

<div class="camsheader">
        <li class="name">CAMs</li>
        <div class="rightnav">
            <li class="headerli"><a href="{{url_for('home')}}"><i class="fa fa-home"></i>Home</a></li>
<!--            <li class="headerli"><a href="#support"><i class="fa fa-support"></i>Support</a></li>-->
            <li class="headerli"><a href="{{url_for('login')}}"><i class="fa fa-sign-in"></i>Login</a></li>
        </div>
</div>

<div class="has-text-centered block">
<form action="http://127.0.0.1:5000/register" class="loginform" method="POST">
    <h2 class="is-size-2">SIGN UP</h2>
    <input type="email" placeholder="Email Id" name="uname" required>
    <input type="password" placeholder="Password" name="pass" required>
    <br />
    <b>{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="color:white">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}</b>
    <br />
    <button type="submit" name="register">REGISTER</button>
        <p>Go back to login page <a href="{{url_for('login')}}">Log in</a></p>
</form>
</div>
</body>
</html>
